<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @musician.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @musician.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @musician.phone_number %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @musician.instrument %>
</p>

<%= link_to 'Edit', edit_musician_path(@musician) %> |
<%= link_to 'Back', musicians_path %>
